.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  padding: 20px;
  height: 330px;
  width: 400px;
  margin: 20px auto;
}

.textField {
  padding-top: 10px;
}

.info {
  padding-top: 10px;
}