<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Trac Cloud</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
    <link rel="stylesheet" type="text/css" href="{% static "frontend/css/index.css" %}"/>
    <link rel="shortcut icon" href="{% static "frontend/favicon/favicon.ico" %}" type="image/x-icon">
</head>
<body>
<div id="main">
    <div id="root"></div>
</div>
<script src="{% static "frontend/main.js" %}"></script>
</body>
</html>
